

body{
	text-align: left;
	font-family: arial;
}


.Barra_Superior {
	background-color:  #ff7212;
	color: white
	
}

.Barra_Superior h2 {
	background-color: #b0140a;
}

.Barra_Superior h1 {
	font-size: 40px;
}


.titulo_artigo {
	background-color:  ;
	width: 1300px;
	margin: auto;
	text-align: left;
	}



.titulo_artigo h1 {
	/*
	margin-right: 120px;
	margin-left: 120px;
	*/
	font-size: 80px
	
}


.titulo_artigo h2 {
	color: 484848;
	/*margin-right: 200px;
	margin-left: 200px;*/
	font-size: 26px

}


.content {
	
	/*background-color: gray;*/
	width: 1650px;
	margin: auto;
	text-align: left;
}



.content img {
		width: 1650px;
		font-size: 18px
	}


figcaption {

	font-size: 25px;
}


.content2 {
	line-height: 60px;
	text-align: left;
	width: 1300px;
	margin: auto;
	font-size: 24px;
}

.corpo {
	width: 800px;
	margin: auto;
	font-size: 26px;
	text-align: left;
	line-height: 45px;
	color: 484848;

}

.corp2 {
	width: 800px;
	margin: auto;
	font-size: 26px;
	text-align: left;
	line-height: 45px;



}

ul {
	list-style: none;
	background-color: ;
	padding: 0px;
	margin-bottom: 50px;
	
}

#link_vermelho{
	color: red;
}
	

	