

body{

	font-family: arial;
}


.Navigation {
	background-color:  #ff7212;
	color: white;
	margin-left: 80px;
	padding: 20px;
	
	
}



.content {
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 1000px;

}


.content h1 {
	font-size: 48px;


}


.content h2 {
	font-size: 14px;
	font-weight: normal;
}


.content img {
	width: 600px;
}

.content figcaption {
	font-size: 12px;
}


.content p {
	line-height: 30px;
	color: #484848;
}


.content ul{
	list-style: none;
	padding: 0px

}

.content li {
	line-height: 30px;

}


.content a{
	color: #484848;

}